.app__root{
  background-color: dodgerblue;
  background: radial-gradient(circle, rgba(251,251,187,1) 20%, rgb(85, 14, 24) 80%);
  text-align: center;
  color:rgb(85, 14, 24);
  text-shadow: 3px 2px 3px rgba(255,255,255,.8);
  font-family: serif;
  height: 100vh;
}
.app__icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 30px;
  color: dimgray;
}
.app__logout {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: dimgray;
  margin-left: 10px;
}
button:disabled {
  color: #ccc;
  cursor: none;
}
h1 {
display: inline-block;
}
h3 {
display: inline-block;
width: 50%;
}
