.app__root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background: radial-gradient(circle, rgba(251,251,187,10) 30%, rgb(85, 14, 30) 90%); */
  text-align: center;
  color:rgb(85, 14, 24);
  text-shadow: 3px 2px 3px rgba(255,255,255,.8);
  font-family: serif;
  height: 100vh;
}
.app__icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 30px;
  color: rgb(85, 14, 24)!important;
}
.app__logout {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(85, 14, 24);
  margin-left: 10px;
}
button:disabled {
  color: #ccc;
  cursor: none;
}
h1 {
display: inline-block;
}
h3 {
display: inline-block;
width: 80%;
}
